<div class="nav">
    <div class="menu-open">
        <fa-icon [icon]="faHamburger"></fa-icon>
    </div>
    <div class="brand">
          <span><a href="index.html">CEBU STEEL CORPORATION</a></span>
    </div>
    <div class="cart">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
    </div>
    <div class="menu">
          <div class="menu-close">
            <fa-icon [icon]="faCoffee"></fa-icon>
          </div>
          <ul>
                <a href="index.html">Home</a>
                <a href="shop.html">collection</a>
                <a href="product.html">Product</a>
                <a href="about.html">Our story</a>
                <a href="contact.html">Contact</a>
          </ul>
          <div class="media-menu">
                <ul>
                      <li><fa-icon [icon]="faCoffee"></fa-icon></li>
                      <li><fa-icon [icon]="faCoffee"></fa-icon></li>
                      <li><fa-icon [icon]="faCoffee"></fa-icon></li>
                      <li><fa-icon [icon]="faCoffee"></fa-icon></li>
                </ul>
          </div>
    </div>
</div>