<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <h1>Create Account</h1>
            <div class="social-container">
            </div>
            <input type="email" formControlName="Email" placeholder="Email" required>
            <div formGroupName="Passwords">
                    <input type="password" class="form-control" formControlName="Password" placeholder="Password">
                    <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="ConfirmPassword">
            </div>
            <input formControlName="UserName" placeholder="UserName" required>
            <input formControlName="DisplayName" placeholder="DisplayName" required>
            <button [disabled]="!service.formModel.valid">Sign Up</button>
        </form>
    </div>
    
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button [routerLink]="['/user/login']" class="ghost" id="signIn">Sign In</button>
            </div>
    </div>
</div>
